:root {
    --color-principal: rgb(199, 31, 31);
    --color-secundario: rgb(201, 76, 76);
    --negro: #111;
    --blanco: #eee;
}

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    text-decoration: none;
    color: inherit;
}

img, video {
    max-width: 100%;
    width: 100%;
}